@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
img{
    width: 100%;
}
body{
    font-family: 'Cabin', sans-serif;
}
.back-to-top img{  
    position: fixed;
    bottom: 10px;
    right: 5%;
    width: 40px;
    z-index: 10;
}
h3{
    font-weight: 100;
}
.mobile-header{
    padding: 0.5rem;
    background-color: black;
    position: sticky;
    top: 0;
    display: none;
    z-index: 10;
}
.mobile-header .top-menu{
    display: grid;
    justify-content: space-between;
}
.mobile-header .top-menu__item a{
    font-size: 1rem;
}
.top-menu__item .cake-logo-mobile{
    width: 70px;
}
.mobile-header .bag-icon{
    width: 20px;
}
.mobile-header .hamburger-icon{
    width: 30px;
}
/*Click menu*/
.click-menu-activator{
    position: relative;
}
.click-menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 13vh;
    left: 0vh;
    right: 0vh;
    width: 100vw;
}
.click-menu ul{
    list-style: none;
    padding: 0.5rem;
}
.click-menu ul li{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 1rem 0rem;
    font-weight: 600;
}
.click-menu ul li:last-child{
    border-bottom: none;
}
.click-menu ul li a{
    color: #c94350;
}
.click-menu ul li a:hover{
    color: #ffffff;
}
.click-menu-activator input:checked ~ .click-menu{
    visibility: visible;
    opacity: 1;
}
.desktop-header{
    display: grid;
    justify-content: center;
    position: absolute;
    top: 2.5vw;
    left: 2.5vw;
    width: 95vw;
}
.top-menu{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    align-items: center;
}
.top-menu__item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    display: block;
    transition: 0.3s;
}
.top-menu__item a:hover{
    color: #c94350;
    transform: scale(1.2, 1.2);
}
.top-menu__item #gallery{
    color: #c94350;
    font-weight: 600;
}
.top-menu__item img{
    width: 100px;
}
.welcome-page{
    height: 300px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(/Images/cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 1rem;
}
.welcome-message{
    color: white;
    position: relative;
    display: grid;
    gap: 3rem;
}
.gallery-section{
    background-color: #eae7de;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.photo-item{
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 0.2rem;
    border: 1px solid #000000;
    transition: 0.5s;
}
.photo-item:hover{
    transform: scale(1.1,1.1);
}
.photo{
    display: grid;
}
.photo-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0.3rem;
    background-color: #c4c4c4;
    border-top: 1px solid #000000;
}
.thumbs-up, 
.thumbs-down{
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}
input[type="checkbox"]:checked ~ .thumbs-up,
input[type="checkbox"]:checked ~ .thumbs-down{
    fill:#3b6cd6;
    transform: scale(1.2,1.2);
}

footer{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(/Images/baking-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer nav{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    gap: 1rem;
    place-content: center;
}
.nav-list{
    display: grid;
    list-style: none;
    justify-items: center;
    
}
.nav-list__item{
    color: rgb(255, 255, 255);
    padding: 0.5rem;
}
.nav-list__img{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}
.nav-list__item h3{
    color: #c94350;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-transform: uppercase;
}
.nav-list__item img{
    width: 25px;
}
.nav-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.copyright{
    background-color: black;
    padding: 0.7rem;
    text-align: center;
    color: white;
}
@media screen and (max-width: 733px){
    .mobile-header{
        display: grid;
    }
    .desktop-header{
        display: none;
    }
}