@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
img{
    width: 100%;
}
body{
    font-family: 'Overlock', cursive;
}
main{
    width: 100%;
}
h3{
    font-weight: 100;
}
.mobile-header{
    padding: 0.5rem;
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: black;
    position: sticky;
    top: 0;
    display: none;
    z-index: 10;
}
.mobile-header .top-menu{
    display: grid;
    justify-content: space-between;
}
.mobile-header .top-menu__item a{
    font-size: 1rem;
}
.mobile-header .bag-icon{
    width: 20px;
}
.mobile-header .hamburger-icon{
    width: 30px;
}
/*Click menu*/
.click-menu-activator{
    position: relative;
}
.click-menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 10vh;
    left: 0vh;
    right: 0vh;
}
.click-menu ul{
    list-style: none;
    padding: 0.5rem;
}
.click-menu ul li{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 1rem 0rem;
    font-weight: 600;
}
.click-menu ul li a{
    color: #c94350;
}
.click-menu ul li a:hover{
    color: #ffffff;
}
.click-menu-activator input:checked ~ .click-menu{
    visibility: visible;
    opacity: 1;
}
.desktop-header{
    display: grid;
    justify-content: center;
    font-family: 'Zen Kurenaido', sans-serif;
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    width: 95vw;
}
.top-menu{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    align-items: center;
}
.top-menu__item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
.top-menu__item #gallery{
    color: #c94350;
    font-weight: 600;
}
.top-menu__item img{
    width: 100px;
}
.welcome-page{
    height: 300px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(/Images/cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: end;
    justify-items: center;
    padding: 1rem;
}
.welcome-message{
    color: white;
    position: relative;
    display: grid;
    gap: 3rem;
}
.gallery-section{
    background-color: #eae7de;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.photo-item{
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 0.2rem;
    border: 1px solid #c94350;
}
.photo{
    display: grid;
}
.photo-description{
    display: grid;
    border-top: 1px solid #c94350;
    grid-auto-flow: column;
    place-items: center;
    padding: 0.3rem;
}
.photo-description img{
    width: 20px;
}
footer{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(/Images/baking-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Zen Kurenaido', sans-serif;
}
footer nav{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    padding: 1rem;
    gap: 2rem;
    place-content: center;
    
}
.nav-list{
    display: grid;
    list-style: none;
    gap: 0.5rem;
    justify-items: center;
}
.nav-list__item{
    color: rgb(255, 255, 255);
}
.nav-list__img{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}
.nav-list__item h3{
    color: #c94350;
    border-bottom: 1px solid rgba(212, 210, 210, 0.521);
    text-transform: uppercase;
}
.nav-list__item img{
    width: 25px;
}
.nav-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.copyright{
    background-color: black;
    padding: 0.7rem;
    text-align: center;
    color: white;
    font-family: 'Zen Kurenaido', sans-serif;
}
@media screen and (max-width: 733px){
    .mobile-header{
        display: grid;
    }
    .desktop-header{
        display: none;
    }
}